ejemplos_fw_curso_iot_upt/ble33_temp/.pio
ejemplos_fw_curso_iot_upt/hola_mundo/.pio
ejemplos_fw_curso_iot_upt/sensor_temp/.pio
ejemplos_fw_curso_iot_upt/sensor_temp/.vscode/.browse.c_cpp.db*
ejemplos_fw_curso_iot_upt/hola_mundo/.vscode/.browse.c_cpp.db*
ejemplos_fw_curso_iot_upt/ble33_temp/.vscode/.browse.c_cpp.db*
ejemplos_fw_curso_iot_upt/ble33_temp/.vscode/c_cpp_properties.json
ejemplos_fw_curso_iot_upt/hola_mundo/.vscode/c_cpp_properties.json
ejemplos_fw_curso_iot_upt/sensor_temp/.vscode/c_cpp_properties.json
ejemplos_fw_curso_iot_upt/sensor_temp/.vscode/launch.json
ejemplos_fw_curso_iot_upt/hola_mundo/.vscode/launch.json
ejemplos_fw_curso_iot_upt/ble33_temp/.vscode/launch.json
ejemplos_fw_curso_iot_upt/ble33_temp/.vscode/ipch
ejemplos_fw_curso_iot_upt/sensor_temp/.vscode/ipch
ejemplos_fw_curso_iot_upt/hola_mundo/.vscode/ipch
este_archivo_va_a_ser_ignorado
sw_python/.venv
sw_python/__pycache__
sw_python/mensajes.csv
sw_python/db_prueba.db
sw_python/db_prueba.db-journal
sw_python/db_temperatura.db